@model BanHang001.Models.Category

@{
    ViewBag.Title = "Chitiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết của danh mục</h2>
@using (Html.BeginForm("Chitiet", "Categogy"))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.IDCate)
            </th>
            <td>
                @Html.EditorFor(m => m.IDCate, new { htmlAttributes = new { @readonly = "readonly" } })
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(m => m.NameCate)
            </th>
            <td>
                @Html.EditorFor(m => m.NameCate, new { htmlAttributes = new { @readonly = "readonly" } })
            </td>
        </tr>
    </table>
}
@Html.ActionLink("Quay về danh sách", "DanhSachDanhMuc", null, new { @class = "btn btn-success" })

