@model  IEnumerable<BanHang001.Models.Category>

@{
    ViewBag.Title = "DanhSachDanhMuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh Sách Sản Phẩm</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.IDCate)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.NameCate)
        </th>
        <th>Chức năng</th>
    </tr>
    @foreach (var cate in Model)
    {
        <tr>
            <td>@Html.DisplayName(cate.IDCate)</td>
            <td>@Html.DisplayName(cate.NameCate)</td>

            <td>
                @Html.ActionLink("Sửa", "Sua", new { id = cate.IDCate.TrimEnd() }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Xoá", "Xoa", new { id = cate.IDCate.TrimEnd() }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Xem chi tiết", "Chitiet", new { id = cate.IDCate.TrimEnd() }, new { @class = "btn btn-dark" })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Thêm mới", "Them", null, new { @class = "btn btn-success" })
