@model BanHang001.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm Mới Sản Phẩm</h2>
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m => m.NamePro)</th>
            <td>@Html.EditorFor(m => m.NamePro)</td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(m => m.NamePro)
            </td>
        </tr>


        <tr>
            <th>@Html.DisplayNameFor(m => m.DecriptionPro)</th>
            <td>@Html.EditorFor(m => m.DecriptionPro)</td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(m => m.DecriptionPro)
            </td>
        </tr>


        <tr>
            <th>@Html.DisplayNameFor(m => m.Price)</th>
            <td>@Html.EditorFor(m => m.Price)</td>
        </tr>
        <tr>
            <td colspan="2" style="color:red">
                @Html.ValidationMessageFor(m => m.Price)
            </td>
        </tr>


        <tr>
            <th>@Html.DisplayNameFor(m => m.IDCate)</th>
            <td>@Html.DropDownListFor(m => m.IDCate, (SelectList)ViewBag.listCate, "Chọn danh mục")</td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(m => m.IDCate)
            </td>
        </tr>


        <tr>
            <th>@Html.DisplayNameFor(m => m.ImagePro)</th>
            <td>
                <img src="~/images/3.png" width="130" height="140" id="previewImage" />
                <input type="file" name="ImagePath" id="ImagePath" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(m => m.ImagePro)
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Save" class="btn btn-danger" />
            </td>
        </tr>

    </table>
}
@section Scripts {
    <script>
    document.getElementById('ImagePath').addEventListener('change', function (event) {
        let file = event.target.files[0];
        if (file) {
            let reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('previewImage').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
    </script>
}

