@model BanHang001.Models.AdminUser

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form Register</h2>
@using (Html.BeginForm("Register", "LoginRegister"))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <td>
                @Html.LabelFor(m => m.ID)
            </td>
            <td>
                @Html.EditorFor(m => m.ID)
            </td>
            <td style="color:red;font-style:italic">
                @Html.ValidationMessageFor(m => m.ID)
                @if (ViewBag.ErrRegister != null)
                {
                    @ViewBag.ErrRegister
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.NameUser)
            </td>
            <td>
                @Html.EditorFor(m => m.NameUser)
            </td>
            <td style="color:red;font-style:italic">
                @Html.ValidationMessageFor(m => m.NameUser)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.RoleUser)
            </td>
            <td>
                @Html.EditorFor(m => m.RoleUser)
            </td>
            <td style="color:red;font-style:italic">
                @Html.ValidationMessageFor(m => m.RoleUser)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.PasswordUser)
            </td>
            <td>
                @Html.PasswordFor(m => m.PasswordUser)
            </td>
            <td style="color:red;font-style:italic">
                @Html.ValidationMessageFor(m => m.PasswordUser)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ConfirmPass)
            </td>
            <td>
                @Html.PasswordFor(m => m.ConfirmPass)
            </td>
            <td style="color:red;font-style:italic">
                @Html.ValidationMessageFor(m => m.ConfirmPass)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Regisster" />
            </td>
            <td>
                @Html.ActionLink("Login", "Index", "LoginRegister", null, new { @class = "btn btn-dark" })
            </td>
        </tr>
    </table>
}


